.headerSitio_logo
  padding: 20px 0
  display: inline-block

.headerSitio_navegacion
  width: 50%
  float: right
  padding: 20px 0
  &::after
    content: ''
    display: table
    clear: both
  nav
    display: block
  ul
    display: block
    float: right
  a
    display: inline-block
    margin-right: 40px
