.menuLateral
  width: 100%
  img
    margin: auto
    width: 150px
    height: 150px
    margin-bottom: 10px
    @media screen and (max-width: $bp-mobile)
      width: 150px
      height: 150px
  h2
    text-transform: uppercase
    font-weight: bold
    font-size: 1.2em
    margin-bottom: 20px
    margin-top: 30px
  li
    &:not(:last-of-type)
      margin-bottom: 10px
  .meta
    width: 70%
    margin: 0
