.post
  iframe
    margin-bottom: 25px
  //imágenes del cuerpo de post
  img
    width: 100%
    margin-bottom: 25px
  .columnaBio
    padding-left: 40px
    @media screen and (max-width: $bp-mobile)
      padding-left: 0
    img
      width: 100%
      margin-bottom: 20px
  .boxBio
    border-top: 1px solid $color-gris
    padding: 20px 0
    @media screen and (max-width: $bp-mobile)
      padding: 20px
  .endMark
    width: 10px
    height: 10px
    color: $color-revista
    margin-left: 15px
  .col-66
    @media screen and (max-width: $bp-mobile)
      margin-bottom: 100px
  //Imágenes de notas
