//Declaración de tipografías

@font-face
  font-family: 'Code_Pro_Demo'
  src: url('../fonts/Code_Pro_Demo-webfont.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700')


//Tipografía general

body
  font-family: 'Roboto', sans-serif
  color: $color-texto
  font-size: 14px
  line-height: 1.8em

a
  text-decoration: none
  color: inherit

p
  display: block
  font-size: 1.15em
  line-height: 1.8em
  margin-bottom: 1.5em

strong
  font-weight: bold

em
  font-style: italic

sup
  vertical-align: super
  font-size: 0.7em

h1
  font-size: 2.9375rem
  text-transform: uppercase
  margin-bottom: 75px
  font-weight: bold
  line-height: 1em

h2
  font-size: 1.8rem
  text-transform: uppercase
  margin-bottom: 25px
  font-weight: bold
  line-height: 1.3em

//Tipografías por sección

.post a, .editorial2 a
  color: $color-texto-claro
  transition: color, 0.2s
  &:hover
    color: $color-revista

//Tipografías por clase de texto

.textoLogo
  font-family: 'Code_Pro_Demo'
  font-weight: bold
  text-transform: uppercase
  color: $color-texto-inv
  font-size: 1.4rem

.meta
  font-size: 1em
  line-height: 1.5em
  color: $color-texto-claro

//Helpers

  //alineación

  //(auxiliar para alineación de párrafos)
.txt-inline-block
  display: inline-block


.txt-left
  text-align: left

.txt-center
  text-align: center

.txt-right
  text-align: right

//CLases de utilidad especialmente usados para Meta:

.txt-space
  letter-spacing: 1px

  //mayúsculas

.txt-uppercase
  text-transform: uppercase

  //Estilos
.txt-italic
  font-style: italic

.txt-strong
  font-weight: bold

  //tipografía

.txt-codepro
  font-family: 'Code_Pro_Demo'

  //tamaño
.txt-sm
  font-size: 0.85em

.txt-lg
  font-size: 1.2em

//Margen
.txt-mgb-25
  margin-bottom: 25px

//line-height
.txt-tight
  p
    line-height: 1.4em
