.footerSitio
  .footer_logo.footer_col
    img(src="img/logo-H-100px.png", alt="Hormiguero")
  .footer_apoyo.footer_col
    img(src="img/Logo-fdo-metro-1.jpg", alt="Fondo Metropolitano de la Cultura, las Artes y las Ciencias")
    img(src="img/untref-logo.jpg", alt="Universidad Nacional de Tres de Febrero")
  .footer_contacto.footer_col
    .footer_itemContacto
      p hormiguero@untref.edu.ar
    .footer_itemContacto
      p Caseros, Provincia de Buenos Aires, Argentina. #[br] Copyleft 2018.
    .footer_itemContacto
      .footer_redes
        a(href="https://www.facebook.com/plataformahormiguero/", target="_blank")
          img(src="img/rs-facebook.png", alt="Facebook").footer_iconoRedes
        a(href="https://twitter.com/hormiguerolee", target="_blank")
          img(src="img/rs-twitter.png", alt="Twitter").footer_iconoRedes
        a(href="https://www.instagram.com/plataformahormiguero/", target="_blank")
          img(src="img/rs-instagram.png", alt="Instagram").footer_iconoRedes
