.headerSitio.txt-codepro
  a(href="/")
    h1.headerSitio_logo.textoLogo Hormiguero
  nav.headerSitio_navegacion.txt-sm
    ul
      a(href="#")
        li Equipo
      a(href="#")
        li Proyecto
      a(href="#")
        li 1. Sobre nuestra práctica
      a(href="#")
        li 2. Futuro Antiguo
