.headerSitio.txt-codepro
  a(href="/")
    h1.headerSitio_logo.textoLogo Hormiguero
  nav.headerSitio_navegacion.txt-sm
    ul
      a(href="/equipo.html")
        li Equipo
      a(href="http://arteyciencia.untref.edu.ar/projects")
        li Proyecto
      a(href="")
        li 1. Sobre nuestra práctica
      a(href="/editorial-2.html")
        li 2. Futuro Antiguo
