.menuLateral.txt-center
  img(src="img/logo-revista-300px.png", alt="Plataforma Hormiguero").logoRevista
  p.meta.txt-uppercase.txt-inline-block #[strong Sobre nuestra práctica]
  h2 Navegación
  ul
    li
      a(href="/editorial-1.html") Editorial
    li
      a(href="/entrevistas-1.html") Entrevistas
    li
      a(href="/notas-1.html") Notas
    li
      a(href="/colaboradores-1.html") Colaboradores
