.menuLateral.txt-center
  img(src="img/logo-revista-300px.png", alt="Plataforma Hormiguero").logoRevista
  h2 Navegación
  ul
    li
      a(href="http://#") Entrevistas
    li
      a(href="http://#") Notas
    li
      a(href="http://#") Editorial
    li
      a(href="http://#") Colaboradores
