.menuLateral.txt-center
  img(src="img/logo-revista-300px.png", alt="Plataforma Hormiguero").logoRevista
  h2 Navegación
  ul
    li
      a(href="/entrevistas-2.html") Entrevistas
    li
      a(href="/notas-2.html") Notas
    li
      a(href="/editorial-2.html") Editorial
    li
      a(href="/colaboradores-2.html") Colaboradores
