doctype html
html(lang="es-AR")
  head
    meta(charset="utf-8")
    title Revista Hormiguero
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="")
    meta(name="keywords" value="Artes Electr칩nicas")
    //- link(rel="canonical" href="")
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/estilos.css")
    //- script(src="js/scripts.js")

  body.color-bg-oscuro
    include _mixins.pug
    //- Estructura de layout y componentes separados; no intercalados sino anidados
    header.color-bg-gris-tr.color-texto-inv.txt-uppercase.fixedNav
      .container
        +widgetHeader(3)
    
    .principal.color-bg-claro
      .container.espaciadoVertical
        .row
          .col-20
            include _menuLateral1.pug
          .col-80
            .containerContenido
              .contenido
                h1 Colaboradores
                p Agradecemos la colaboraci칩n de:
                ul
                  li Valeria Gonz치lez
                  li Cecilia Cisneros
                  li Marcelo Terreni
                  li Ignacio Vizcarra
                  li Mariano Sard칩n
                br
                p Y la Universidad Nacional de Tres de Febrero por apoyar el proyecto desde el comienzo.        
      
    footer.color-bg-gris.color-texto-inv
      .container
        include _footerSitio.pug
