doctype html
html(lang="es-AR")
  head
    meta(charset="utf-8")
    title Revista Hormiguero
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="")
    meta(name="keywords" value="Artes Electrónicas")
    //- link(rel="canonical" href="")
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/estilos.css")
    //- script(src="js/scripts.js")

  body.color-bg-oscuro
    include _mixins.pug
    //- Estructura de layout y componentes separados; no intercalados sino anidados
    header.color-bg-gris-tr.color-texto-inv.txt-uppercase.fixedNav
      .container
        +widgetHeader(3)
    
    .principal.color-bg-claro
      .container.espaciadoVertical
        .row
          .col-20
            include _menuLateral1.pug
          .col-80
            .containerContenido
              .contenido
                h2 Nota editorial
                p #[strong Hormiguero] empezó como un espacio para la duda y el intercambio sobre las probablemente inexistentes Artes Electrónicas. En #[strong Hormiguero] no se busca una definición unívoca sino delinear el territorio, acercarse a sus fronteras y describir la topografía. A partir de los interrogantes y de las respuestas de quienes conforman este campo, actores y detractores, dibujamos el mapa.
                p La revista trata sobre: el lenguaje, la ideología y lo político, la tecnología y la técnica, el campo laboral y sus integrantes. Nos interesa rescatar textos y vincularnos con sus autores, reconocer distintos campos de acción y contextos posibles y dialogar con los artistas locales que hacen uso de interfaces tecnológicas.
                p Quienes desarrollamos la revista formamos parte, de algún modo, de este campo en el ámbito de la Universidad Nacional de Tres de Febrero y estamos en Caseros porque es ahí donde confluimos todos y porque sostenemos que estar fuera del centro nos permite otra perspectiva.
                p Diseñamos un método para nuestros encuentros que consiste en dudar. En el proceso discutimos lo que hacemos, leemos y escribimos en conjunto y realizamos preguntas que nos inquietan porque creemos que, con cada uno de los escritos y con cada una de las preguntas con sus múltiples respuestas, construiremos una aproximación a esta disciplina tanto en el ámbito de formación académica como en el área de producción artística.
                p La revista y todos los encuentros son una herramienta para los que integramos este campo. Quienes hacemos #[strong Hormiguero] buscamos el debate, el pensamientos crítico y la imaginación tanto durante su producción como después de su publicación. Escribimos desde la periferia del centro pero también desde el centro de la periferia. Escribimos desde el borde para otros bordes y lo hacemos desde la incertidumbre de caminar sobre terrenos inestables, de transitar una zona difusa y sabiendo que la captura de la conclusión es la pérdida de las posibilidades.
        
      
    footer.color-bg-gris.color-texto-inv
      .container
        include _footerSitio.pug
