doctype html
html(lang="es-AR")
  head
    meta(charset="utf-8")
    title Revista Hormiguero
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="")
    meta(name="keywords" value="Artes Electrónicas")
    //- link(rel="canonical" href="")
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/estilos.css")
    //- script(src="js/scripts.js")

  body.color-bg-oscuro
    include _mixins.pug
    //- Estructura de layout y componentes separados; no intercalados sino anidados
    header.color-bg-gris-tr.color-texto-inv.txt-uppercase.fixedNav
      .container
        +widgetHeader(3)
    
    .principal.color-bg-claro
      .container.espaciadoVertical
        .row
          .col-20
            include _menuLateral1.pug
          .col-80
            .containerContenido
              //- Posts: NO son un widget; son un "semicomponente" entremezclado con layout (no debería evitar eso?)
              //- tienen su hoja de estilo propia.
              .contenido.post
                .row.encabezadoPost
                  h1.txt-mgb-25 “CREO QUE NO ME COPIO DE NADIE. SI ME COPIO, ME COPIO DE TODO EL MUNDO”
                  p.meta.txt-space.txt-lg Entrevista a Elena Laplana - Por Guadalupe Álvarez
                  +widgetSoundcloud('586358601')
                .row.row-espaciadoVertical
                  .col-66.
                    <p class="meta">Septiembre 2016<p>
                    
                    <p class="txt-strong">G.A.: ¿Qué diferencia existe entre copia, plagio e interpretación?</p>

                    <p>E.L.: Me parece que plagio, además de copiar la obra de otra persona, tiene una connotación moral fuerte: vos sabés que estás robando algo que pertenece a otra persona. Cuando copias, te haces trampa, te engañas (siendo buena!), tomas del otro y lo haces pasar por tuyo. Y ¿cuál era la otra? Interpretar. Interpretar es, descifrar la obra de otra persona, desde tu punto de vista, tu mirada. ¿Te puedo poner un ejemplo?</p>

                    <p>G.A.: ¡Sí, obvio!</p>

                    <p>E.L.: Una vez, grabé en video una performance del Grupo FOSA1, luego, cada uno por separado (Fosa y Yo) hizo su propia edición y resultaron dos videos absolutamente distintos. El de ellos fue un registro puro y el mío se convirtió en Video-Poesía. Eso me parece que es interpretar.</p>

                    <p class="txt-strong">G.A.: ¿Cuál es el límite entre mantener el estilo propio (la identidad del artista) y copiarse de uno mismo?</p>

                    <p>E.L.: Copiarse de uno mismo es reiterarse, no moverse del lugar cómodo, seguro y próspero. Cuando no podés salir de vos.</p>

                    <p>Y mantener un estilo, sería ser fiel a vos mismo intentando crecer, buscando la dificultad, lo que no viste, lo que te cuesta entender. Por ejemplo: si siempre trabajara con un Cubo, me copiaría a mí misma si solo cambiara los colores, el grosor de la línea, etc.; si en cambio tengo un estilo, desarmo el cubo y trato de ver qué hay en El, que me llama tanto la atención!</p>

                    <p class="txt-strong">G.A.: ¿Quiénes son tus referentes para producir obra (pueden o no ser del campo del Arte) o de quién te copiás para producir obra?</p>

                    <p>E.L.: Creo que no me copio y si lo hiciera, sería de todo el mundo. Porque me gustan todas las artes. Y, ¿una inspiración? Giovanni Boldini y “sus pinturas con movimiento”; Etienne J. Marey, con la descomposición del movimiento. Los dibujos hechos por nenes, con la línea desprolija y saliéndose de los límites con el color y su síntesis. Alé Abreu con su película “O menino e o mundo”, utiliza lo mínimo para diseñar y es muy expresivo.</p>

                    <p class="txt-strong">G.A.: ¿Cuáles serían los estereotipos y clichés de las Artes que utilizan Tecnología?</p>

                    <p>E.L.: Ponerle filtros de Photoshop o After Effects a todo. Y creer que con modificar algo mediante un software estás haciendo arte. El cliché es eso, pensar que la tecnología te resuelve. Me parece que, en realidad, uno tiene que resolver primero intelectualmente y emocionalmente la obra, y valerse de la tecnología después. Siempre después. El arte es un trabajo arduo, no brota, es una elaboración, hay que trabajarlo y ejercitarlo.</p>

                    <p class="txt-strong">G.A.: ¿Considerás que existe un nombre para definir todos los tipos de arte que utilizan tecnología?</p>

                    <p>E.L.: Nombres existen, Arte Digital, Arte de los Nuevos Medios, por ejemplo, pero no creo que definan el universo de los tipos de arte que utilizan tecnología.</p>

                    <p class="txt-strong">G.A.: ¿Qué significa hacer arte con ciencia o tecnología sin tener una formación específica en una de esas disciplinas?</p>

                    <p>E.L.: Qué significa no sé. Supongo que todo parte desde el arte, que se nutre e incorpora lo que necesita. Si no tenes la formación y necesitas valerte de esas disciplinas, deberías asociarte o asesorarte.</p>

                    <p>No me acuerdo el nombre del artista brasilero este… el que teñía los conejos de verde.</p>

                    <p>G.A.: ¿Eduardo Kac?</p>

                    <p>E.L.: Si, exacto, creo que hay límites, el arte tiene una ética como cualquier otra disciplina.</p>

                    <p class="txt-strong">G.A.: ¿Creés que existe una disciplina propia de las artes que utilizan tecnología?</p>

                    <p>E.L.: No, creo que no.</p>

                    <p class="txt-strong">G.A.: ¿De qué modo pensás que debería usar la tecnología un artista?</p>

                    <p>E.L.: Pienso que no hay un modo de hacer arte y no hay un modo para usar la tecnología. La tecnología siempre es una herramienta. Creo que todo el proceso intelectual y emocional es previo, y debería valerse de la tecnología para canalizar [eso].</p>

                    <p class="txt-strong">G.A.:¿Qué marco, como modo de entender el mundo, proponen las artes que utilizan tecnología?</p>

                    <p>E.L.: El mundo se entiende desde la época en que se vive, en esta época reina la tecnología, es casi obligatorio -obligatorio entre comillas, no existe obligatorio- incluir la tecnología en el arte. No hay un modo especial o especifico por el hecho de incorporar tecnología. Es expresar, andar, tu tiempo y época.</p>

                    <p>Creo que los circuitos son hermosos, a mí me parecen particularmente hermosos, tal vez el arte que utiliza tecnología nos acerca a ella de una manera distinta.<span class="endMark">⬛</span></p>
                    
                  .col-33.txt-sm.columnaBio.txt-tight.color-texto-claro
                    .boxBio
                      p #[strong ELENA LAPLANA], Argentina. Le interesa la rama del arte en general y el movimiento en particular. Estudio en la Escuela Nacional de Bellas Artes, “Prilidiano Pueyrredón” y Dibujos Animados en Bujos Producciones. Tomó seminarios de creatividad con los Artistas Emilio Renart y Alfredo Portillos.
                      p Participó y obtuvo premios en importantes festivales nacionales e internacionales de video arte y animación. Se desarrolló profesionalmente como freelance para Walt Disney Production, Patagonik Animation Group, Popartmusic entre otros. Se desempeña como docente en UNTREF y UADE.

                    .boxBio
                      img(src="img/Guada-H-1.jpg", alt="Guadalupe Álvarez")
                      p #[strong GUADALUPE ÁLVAREZ] es estudiante de la Licenciatura en Artes Electrónicas con orientación en Imagen – U.N.T.R.E.F. Como formación complementaria realizó el curso de “Efectos visuales para cine y video”, el seminario “Producción y Montaje de exhibiciones de arte plástico” en la U.N.T.R.E.F y, el curso “Iluminación teatral” en la U.N.S.A.M. Participó en la muestra colectiva WIP’14 en el c.h.e.L.A, en el Festival Enlaces 2015 y en el Encuentro de Arte, Ciencia y Tecnología. FASE 7.
        
      
    footer.color-bg-gris.color-texto-inv
      .container
        include _footerSitio.pug
