doctype html
html(lang="es-AR")
  head
    meta(charset="utf-8")
    title Revista Hormiguero
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="")
    meta(name="keywords" value="Artes Electrónicas")
    //- link(rel="canonical" href="")
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/estilos.css")
    link(rel="shortcut icon" type="image/png" href="/img/logo-H-100px.png")
    //- script(src="js/scripts.js")

  body.color-bg-oscuro
    include _mixins.pug
    //- Estructura de layout y componentes separados; no intercalados sino anidados
    header.color-bg-gris-tr.color-texto-inv.txt-uppercase.fixedNav
      .container
        +widgetHeader(3)
    
    .principal.color-bg-claro
      .container.espaciadoVertical
        .row
          .col-20
            include _menuLateral1.pug
          .col-80
            .containerContenido
              //- Posts: NO son un widget; son un "semicomponente" entremezclado con layout (no debería evitar eso?)
              //- tienen su hoja de estilo propia.
              .contenido.post
                .row.encabezadoPost
                  h1.txt-mgb-25 “LAS ANALOGÍAS CUERPO-MÁQUINA CUANDO SON MUY SIMPLES ME ABURREN. YA HAY CYBORGS, SOMOS RE CYBORGS”
                  p.meta.txt-space.txt-lg Entrevista a Jael Caiero - Por Micaela Paz
                  +widgetSoundcloud('586517865')
                .row.row-espaciadoVertical
                  .col-66.
                    <p class="meta">Septiembre 2016<p>
                    <p class="txt-strong">M.P.: ¿Que diferencia existe entre copia, plagio e interpretación?</p>

                    <p>J.C.: ¿Existe? Me parece que es un poco subjetivo en realidad, o sea, creo que – y de hecho uno de mis textos favoritos se llama “Contra la originalidad” de Jonathan Lethem – no, no es posible discernir entre esas cuestiones. O sea me parece que estamos todo el tiempo consumiendo y nos llegan cuestiones y obras y textos y noticias y cosas por todos lados; entonces, realmente no sé si es posible como trazar un límite. Quizá lo que se piensa es que el plagio es consciente o la copia es consciente, pero es un límite muy difícil para mí, la verdad que no lo pienso mucho en esos términos.</p>

                    <p class="txt-strong">M.P.: ¿Cuál es el límite entre mantener el estilo propio (identidad del artista) y copiarse de uno mismo?</p>

                    <p>J.C.: A mí las preguntas de límite me matan. No sé, es como te digo con lo anterior, no creo que haya un límite, creo que los procesos creativos varían mucho de la persona. En mí por ejemplo me es muy orgánico, si bien laburo con algunas temáticas que me interesan, trato también todo el tiempo de renovar, no necesariamente las obras sino más bien mi mentalidad y me posición al respecto. A mí me interesan mucho las cuestiones políticas de las obras, no tanto del significado o la interpretación de la obra en sí, sino de los modos de producción. Entonces, me parece que a veces es un poco complejo no copiarse cuando mantenés una autenticidad con la manera de producir, al menos en mi caso es 100% independiente, con nada, con lo que hay en casa, y es cierto que a veces todo se empieza a parecer un poco. Igual, mucha gente desde afuera lo ve como un estilo. A veces yo siento que la falta de recursos o lo los recursos así limitados crean una precariedad que, al fin y al cabo, se termina volviendo un estilo. Aparte, surgen cosas increíbles de protocolos, de formas de proceder, por ejemplo esta la gente de Oulipo y todos los que hacía literatura potencial que, de repente es como que tenían una receta para escribir un poema y creo que está re bueno crear de esa manera. De hecho también están la estrategias oblicuas de Brian Enno, que son como instrucciones para los procesos creativos. Creo que es muy importante y tiene mucho que ver con el momento presente, no sé si de sobre-información pero sí como que todo el tiempo estamos, como te decía, consumiendo y recibiendo información de forma pasiva, y a veces está bueno acotarse y ponerle un límite y ponerle reglas a lo que pasa como para canalizarlo, para direccionar un poco.</p>

                    <p class="txt-strong">M.P.: ¿Quiénes son tus referentes para producir obra (pueden o no ser del campo del Arte) o de quién te copias para producir obra?</p>

                    <p>J.C.: Es difícil, yo la verdad que nunca me asumí como persona que hace obras, ni siquiera digo artista, pero hay un montón de gente que me inspira. Yo vengo mucho de la movida del punk o como que mi inspiración primera que siempre está presente es esa, la del “hazlo tu misma”. Empecé haciendo fanzines, o sea si bien siempre dibujé desde chiquita y lo primero que hice así como conscientemente artístico fue hacer fanzines, artístico-político, “artivista”; es horrendo pero me parece que es un poco el ethos o la filosofía del punk y que siempre estuvo presente y que mantuve: investigar y ver cómo puedo hacer las cosas de manera autogestionada. Eso es algo que siempre me interesó.</p>

                    <p>En cuanto a nombres más concretos ya lo nombré recién: Brian Enno, también me gusta muchísimo el trabajo de Sadie Benning, dentro del video que también es algo que me interesa muchísimo, Pipilotti Rist, que son como más referentes de las artes electrónicas pero también me inspira mucha gente que tengo cerca como poetas de ahora, amigos que hacen fanzines, gente que produce teoría: Laura Contrera, Nicolás Cuello, mis amigas que tienen bandas… es como que gran parte de mis procesos y de lo que pasa tiene mucho que ver con una cuestión de los afectos, lo que tengo cerca.</p>

                    <p class="txt-strong">M.P.: ¿Cuáles serían los estereotipos y clichés de las artes que utilizan tecnología?</p>

                    <p>J.C.: Todas las obras con leds! Creo que hay una cuestión así como medio simplista en enfocar de manera muy directa la crítica o la reflexión sobre lo que tiene que ver con lo tecnológico. Me parece que es algo que veo muy seguido como la ilustración de la gente con la cara siendo absorbida por el teléfono, esas cosas muy reduccionistas en torno a la reflexión sobre lo tecnológico, me dan un poquito de fiaca porque me parece que es mucho más complejo. Bueno, también las analogías cuerpo-máquina cuando son muy simples me aburren., un poco porque siento que lo concebimos de una manera mucho más separada de lo que en realidad es o que se concibe en las obras: ya hay cyborgs, somos re cyborgs, hay más cyborgs con cosas implantadas por el cuerpo. Entonces, siento que es un momento para dejar de lado un poco la dualidad –que igual creo que hay que dejar todas las dualidades que existen en el mundo, tienen que desaparecer, todo lo binario se tiene que ir, menos el código binario que sirve –me parece eso, que tenemos que hacer unas reflexiones un poco más profundas respecto de lo que significa la máquina, la verdad, ya suena muy revolución industrial.</p>

                    <p class="txt-strong">M.P.: ¿Considerás que existe un nombre para definir todos los tipos de arte que utilizan tecnología? ¿Cuál? (Arte electrónico, Arte Tecnológico, Nuevos Medios, Arte Digital, etc)</p>

                    <p>J.C.: Nuevos Medios no, como que me pasa lo mismo, siento que Nuevos Medios se quedó en el siglo pasado. No solo que ya no son nuevos sino que quizá, a mi me gusta separar todo, a mi no me gusta mucho englobar porque me parece que hay especificidades que tienen que ver con lo técnico que también inciden en la reflexión de los medios sobre sí mismos, a veces es interesante como separarlo un poquito. “Artes Electrónicas” la verdad que no me molesta, o sea, me parece que dentro de todo puede llegar a ir. Igual, si tuviera una respuesta maravillosa…</p>

                    <p class="txt-strong">M.P.: ¿Qué significa hacer arte con ciencia o tecnología sin tener una formación específica en una de esas disciplinas?</p>

                    <p>J.C.: Y, la verdad es que constantemente me doy cuenta de que tengo que investigar más y buscar más y encontrar recursos por otros lados. Para mi tiene muchísimo que ver con esto que te decía antes de la autoreflexividad de los medios. O sea, realmente me interesa todo este pensamiento sobre los cyborg, sobre lo tecnológico, y realmente quiero aportar a que ocurran cosas y a que pasen movidas que tengan que ver con justamente, pensar sobre algo que para mí ya es un nuevo paradigma, para mí ya no estamos hablando más de cuerpo y máquina, ya es otra cosa, es como una sola.</p>

                    <p>Me parece que lo que está bueno de este tipo de disciplina artística es articularse, porque también me interesa mucho la desaparición de la figura “artista” como persona que está encerrada en su atelier pensando en cosas maravillosas y geniales. Creo que está bueno enfocarse en grupos interdiciplinarios, empezar a articularnos con otra gente que sepa otras cosas. Creo que también en general estudiar arte, prácticamente cualquier estilo o disciplina, es algo que está muy viciado, entonces es necesario articular con gente que esté por fuera de esa para llegar a nuevas reflexiones y, también, a nuevos resultados.</p>

                    <p class="txt-strong">M.P.: ¿Creés que existe una disciplina propia de las artes que utilizan tecnología?</p>

                    <p>J.C.: Yo creo que hay varias, o sea, no pondría el video con la instalación – sí la video instalación por ahí existe- pero no mezclaría con el arte sonoro, con otras cuestiones. Me parece que son como disciplinas separadas que pueden englobarse como sub grupitos dentro de las “artes elecrtrónicas” si nos mantenemos con la respuesta anterior.</p>

                    <p class="txt-strong">M.P.: ¿De qué modo pensás que debería usar la tecnología un artista? (Ayuda: herramienta, en sí, etc)</p>

                    <p>J.C.: No, no pienso que “deberíamos” usarlo de una forma. A mí me interesa el lado lúdico de la tecnología, me gusta abrir las cosas que se pueden abrir, o ver los códigos de las cosas que se pueden ver los códigos. A mí, particularmente, me interesan cuestiones que tienen que ver con Internet, con la manera en la que nos cambió la forma de relacionarnos, la manera en la que nos vemos, la manera en la que nos valoramos. Siento que mi interés sobretodo está ahí, en todo lo que genera Internet y en los algoritmos, como en los esqueletos que articulan la manera en que nos percibimos las personas. Pero no puedo decir que haya una manera en la que los artistas deberían usarlo, sino que simplemente a mí me interesa más esta cuestión.</p>

                    <p class="txt-strong">M.P.: ¿Qué marco, como modo de entender el mundo, proponen las artes que utilizan tecnología?</p>

                    <p>J.C.: En casi el tercer año de la carrera puedo decir que cada día entiendo menos, cada día es más difícil explicarlo como una cuestión única y que tiene un marco enunciado y tal. Creo que simplemente no existe. Igualmente, creo que sí hay un montón de cuestiones que aprendí que tienen que ver con esta reflexión de la que hablábamos: de cómo la tecnología condiciona o articula las maneras en las que vemos y en las que nos relacionamos, que es muy interesante y hay mucha tela para cortar por ahí, pero no sé si hay una cosa única y un marco así duro que aplique a todo.</p>

                    <p>A mí me pasa muy seguido que las mismas cosas que amo, las termino odiando. Lo que me llamó la atención de acá era que todo era muy abierto y muy flexible y después estás pidiendo, rogando “dame una forma de articular esto, dame herramientas para integrar”. Pero bueno, todo se busca por afuera.<span class="endMark">⬛</span></p>
                    
                  .col-33.txt-sm.columnaBio.txt-tight.color-texto-claro
                    .boxBio
                      p #[strong JAEL CAIERO] comenzó la Licenciatura en Artes Electrónicas con orientación en Imagen en 2014. Anteriormente pasó por la carrera de Psicología en la Universidad de Buenos Aires y se formó en filosofía, electrónica y fotografía analógica a través de distintos talleres. Actualmente edita zines y discos a través de la editorial Ternura Cyborg, colabora con proyectos de amigos y organiza fiestas y “movidas” culturales. Sus intereses dentro del amplio mundo de las Artes Electrónicas se centran en el análisis de obras que hablen de cuerpo y tecnología, la realización de video experimental y la programación aplicada a la generación de imagen.
                    .boxBio
                      img(src="img/Mica-H-1.jpg", alt="Micaela Paz")
                      p #[strong MICAELA FLAVIA PAZ] es estudiante avanzada de la Licenciatura en Artes Electrónicas con orientación en Imagen – U.N.T.R.E.F y, desde el año 2015 se desempeña como Tutora Adjunta de la carrera. Previamente, se formó como Técnica en Producción y Creatividad Radiofónica en ETER y en danza con Vanesa Menalli. Forma parte del grupo de experimentación Hebras Danza y desde el año 2012 integra el proyecto cultural Danzar Mundos, Opúsculo sobre arte, cuerpo y poéticas cotidianas. Se interesa por la investigación y el desarrollo de proyectos relacionados al cuerpo, la danza y los dispositivos de imagen vinculados a las nuevas tecnologías. Su experiencia laboral está centrada en las áreas de comunicación y diseño.
        
      
    footer.color-bg-gris.color-texto-inv
      .container
        include _footerSitio.pug
