doctype html
html(lang="es-AR")
  head
    meta(charset="utf-8")
    title Revista Hormiguero
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="")
    meta(name="keywords" value="Artes Electrónicas")
    //- link(rel="canonical" href="")
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/estilos.css")
    link(rel="shortcut icon" type="image/png" href="/img/logo-H-100px.png")
    //- script(src="js/scripts.js")

  body.color-bg-oscuro
    include _mixins.pug
    //- Estructura de layout y componentes separados; no intercalados sino anidados
    header.color-bg-gris-tr.color-texto-inv.txt-uppercase.fixedNav
      .container
        +widgetHeader(3)
    
    .principal.color-bg-claro
      .container.espaciadoVertical
        .row
          .col-20
            include _menuLateral1.pug
          .col-80
            .containerContenido
              //- Posts: NO son un widget; son un "semicomponente" entremezclado con layout (no debería evitar eso?)
              //- tienen su hoja de estilo propia.
              .contenido.post
                .row.encabezadoPost
                  h1.txt-mgb-25 “LA IDEOLOGÍA SIEMPRE ESTÁ PRESENTE EN EL ARTE”
                  p.meta.txt-space.txt-lg Entrevista a Lucas Pérez Scigliano - Por Maximiliano Cortés
                  +widgetSoundcloud('586517859')
                .row.row-espaciadoVertical
                  .col-66.
                    <p class="meta">Septiembre 2016<p>
                    <p class="txt-strong">M.C.: ¿Qué diferencia existe entre plagio, copia e interpretación?</p>

                    <p>L.P.S.: Yo creo que… es difícil, es… creo que es una delgada línea, ¿no? Entre copia, plagio e interpretación me parece que se puede interpretar muchas cosas, o sea uno puede – una expresión artística se puede interpretar, digamos, puede prevalecer la copia en este caso no? El plagio, hoy en día me parece que está como fuera de cualquier concepto, sobre todo cuando está relacionado con el arte contemporáneo ya decir plagio me parece que es como retrotraerse a otra época de la q estamos viviendo. El plagio sería copiar a alguien y usar eso que otra persona hizo en pos de – corregime si estoy mal – en pos de sacar un beneficio, me parece que hoy en día hay muchas obras que se utiliza material de otro legítimamente y ni se cuestiona si es plagio o no sino que se retransgifura, lo que se ve con lo que es postproducción y un montón de cosas digamos, uno utiliza un concepto, que puede provenir de otra obra ya hecha y trabajar en base a eso. Me parece que el plagio seria como algo muy formal, en el ámbito que estamos atravesando nosotros que es el arte contemporáneo, ya me parece que sería una cosa medio demode. Si no no podría existir el sampler, el sampler no podría existir y no se podrían samplear miles de canciones que hemos escuchado que tienen samples de otras personas, sería plagio digamos, y hoy en día están totalmente aceptadas. Pero sí, me parece que eso. En grandes rasgos eso.</p>

                    <p class="txt-strong">M.C.:¿Cuál crees que es el límite entre mantener el estilo propio, o la identidad del artista, y copiarse de uno mismo?</p>

                    <p>L.P.S.: A mí me parece que la búsqueda es lo más importante, uno tiene que ir en búsqueda, buscar lo que a uno le haga bien, lo que a uno le haga sentir digamos feliz a la ahora de hacer una obra, y después yo creo que es propio del artista querer siempre superarse, y siempre ir en pos de digamos de un concepto nuevo o de algo que genere novedad o que le genere impresiones a uno mismo digamos, y yo creo que si uno va buscando siempre eso es muy difícil repetirse a si mismo. Uno igual desarrolla una identidad artística, que creo que todos los artistas somos distintos, cada uno desarrolla su propia identidad y eso obviamente va tener matices, conceptos o aristas que se van a ir repitiendo a lo largo de la obra, pero me parece que copiarse a uno mismo, es como sumergirse en un letargo de decir esto funcionó y seguir haciéndolo y me parece que no es propio de un artista, me parece que ya es mas de otro lado, es mas comercial digamos, yo creo que el artista siempre va a buscar salirse de lo que ya hizo para generar algo nuevo en la gente no? o en la persona que aprecie esa obra.</p>

                    <p class="txt-strong">M.C.: Quiénes son tus referentes para producir obra? Que pueden o no ser del campo del arte. O de quién crees que te copias para producir obra?</p>

                    <p>L.P.S.: Yo hoy en dia… lo que estábamos hablando antes fuera de esto, la música es como el punto donde mas produzco, fuera de lo que es el arte electrónico en realidad, digamos estaría relacionado, no se si tengo un referente digamos no? Yo creo que seria mas estilos o épocas o formas, me gusta mucho el lo que en un momento fue llamado rock nacional pero hoy en día es la música popular latinoamericana se podria llamar, de ahí podríamos englobar desde músicos argentinos cual Spinetta o Cerati hasta músicos de folk de Santiago del Estero o músicos rioplatenses que toquen candombe en Uruguay. me parece que hoy en dia a mi musicalmente es eso lo que mas me atrae como para desarrollar mi forma de hacer arte, también hay influencias de afuera, influencias de la música jazz o del blues, que todo eso es digamos los orígenes de lo que hoy se consume musicalmente, no con respecto a la música popular como el folklore pero digamos el rock, el rock proviene de ahí, del blues, del jazz de los negros en África que se fueron a EEUU y que en EEUU desarrollaron todos unos tratados artísticos que después llegaron acá mediante la imitación. Hoy en día escuchar algo argentino más parecido al rock es hacer un recorrido por toda la historia del mundo musical, viene de muchos génesis. Por eso me resulta difícil hablar de una persona o de una cosa. Porque cualquier persona que yo diga, en un caso o que me agarre de un nombre, ese nombre va a estar enmarcado en un marco enorme, de años y años de desarrollo musical en todo el mundo.</p>

                    <p class="txt-strong">M.C.:¿Cuales serian los estereotipos y clichés de las artes que usan tecnología?</p>

                    <p>L.P.S.: Cuando nos referimos a las artes que usan tecnología es al arte…</p>

                    <p>M.C.: Arte electrónico, arte multimedia…</p>

                    <p>L.P.S.: Y hoy en día me parece que los clichés están… vos decís algo puntual o que para mí son cliché?</p>

                    <p>M.C.: Para vos, que vos veas que son recursos que utilizan una y otra vez en distintos lenguajes.</p>

                    <p>L.P.S.: Y lo que es, a mi me parece que el sensado por ejemplo con cámaras y posición o cosas mas reactivas como que una persona cruza un umbral y se dispara algo… eso me parece que ya es super cliché. Y como que abundan esas cosas en las instalaciones o en, el arte, digamos… en las instalaciones, sí, mas que nada. También me parece que se abusa un poco del uso de las computadoras, hoy en día con toda la disponibilidad de computadoras, Raspberry Pi, Arduino, me parece que se podría hacer algo mas… es lo que hablábamos antes también con respecto a interpelar el arte a través de cuerpo, me parece que se podría buscar una veta mas, digamos de tener alguna relación mas física con la obra sin perder la esencia de que sea arte electrónico, digamos, que sea a través de otro tipo de sensado, o a través de otro tipo de información en esa obra. Pero hay ciertos cliché que me parece que ya están abusadísimos. O el video, el video también hay veces que esta por demás abusado, fueron cosas que en su momento fueron super revolucionarias, pero hoy en día hablar de algo moderno y relacionarlo con una computadora es como hablar de algo que tiene ya muchos años, 60 o 70 años, así que habría que ir un poquito más allá de eso. Igual no se si tengo tantas palabras actualizadas para esto ¿no? Pero es lo que me parece.</p>

                    <p class="txt-strong">M.C.: ¿Consideras que existe un nombre para definir todo los tipos de arte que utilicen tecnología? Y si crees que hay un nombre, ¿cuál sería ese nombre?</p>

                    <p>L.P.S.: Me parece que arte electrónico no está mal usado, quizás se quede un poco corto. Quizá no llega a abarcar todo lo que… lo que significa. Y ponerle arte tecnológico… es lo que estábamos hablando hace 10 segundos, tecnología es un tenedor, un cesto de basura, o una computadora, como que abarcaría demasiado. Creo que arte multimedial podría ser una buena arista, o… no sé. Sinceramente, podría estar todo adentro de “arte contemporáneo” también. La verdad no tengo un nombre para definir todo este mundo. Me parece que “arte electrónico” no esta mal, repito, pero que se queda corto, se queda corto por el abanico tan grande que hay de propuestas.</p>

                    <p>M.C.:Propuestas que no usan electrónica?</p>

                    <p>L.P.S.: No, digamos, porque arte electrónico define a estas cosas que usan electrónica, estas obras, pero quizá, la búsqueda va mas allá de un solo concepto de “electrónico”, la búsqueda del artista digo no? Quizá meterlo dentro del… usar la palabra “electrónica” lo limita al hecho de que solamente vaya por el lado de la electrónica, cuando el artista quizá va del lado de la electrónica, va del lado literal, va del lado visual y busca mas conceptos. Me parece que “arte electrónico” se queda escueto en ese sentido.</p>

                    <p class="txt-strong">M.C.: Qué crees que significa hacer arte con ciencia o tecnología sin tener una formación especifica en alguna de esa disciplinas?</p>

                    <p>L.P.S.: Yo creo que en general las artes son un ambiente en donde cualquiera puede expresarse, no hace falta tener una formación. El tema esta en que si uno quiere hacer arte relacionado con ciencia, arte relacionado con tecnología, siempre esta bueno nutrirse de técnicas, de materiales ,de nuevos conceptos, que se estudian, o que se ven académicamente, o no, pero que uno profundiza, porque te da un abanico mas grande de posibilidades para después usar esas ideas, usar esos conceptos artísticamente. Y poder aplicarlos, entonces vos tenes un mayor manejo de lo q estas haciendo. No estas haciendo algo por hacerlo sino que estas poniendo una idea en eso, entonces tenes muchas mas formas… usas muchos mas recursos artísticos, teniendo mas conceptos adentro tuyo y aprendiendo. Y ademas los usas con el objetivo de ponerlos. A veces pasa que uno hace una obra sin saber, que esta bárbaro, esta buenísimo, y esta buenísimo que sea super intuitivo, pero no tiene dominio de esos conceptos. Pero uno cuando sabe de esos conceptos y puede dominarlos, puede estructurarlos de una forma mas orgánica, o quizá de una forma mas armónica. Que eso te lo da el estudio o te lo da el interiorizarse, quizá no solamente el estudio académico, interiorizarse en algo y ser autodidacta, pero siempre esta bueno profundizar y no quedarse en algo que sea meramente intuitivo.</p>

                    <p class="txt-strong">M.C.: Crees que existe una disciplina propia de las artes que utilizan tecnología?</p>

                    <p>L.P.S.: Una disciplina propia? A que te referís, como seria eso?</p>

                    <p class="txt-strong">Que constituya una disciplina en si misma el arte tecnológico separado de otros tipos de arte, por ejemplo.</p>

                    <p>L.P.S.: Yo creo que podría llegar a separarse al arte tecnológico o al arte electrónico por fuera de otro tipos d arte, es lo que ocurre en el arte plástico… pero es como hablábamos en una de las preguntas que dijiste antes, de que en realidad para mi es todo arte contemporáneo. Hoy en día ponerle nombre a las cosas es complicarla cada vez mas, cuando a veces es mas fácil dejarse llevar, y dejarse llevar por lo que esta planteando un artista al hacer una obra, a la hora de laburar cualquier tipo de obra, creo que poniéndole nombre a las cosas sectorizamos cada vez mas y armamos mas nichos todavía. Y cuanto mas hay es mas difícil después convocar a la gente para que aprecie lo que estas haciendo. uno es artista y quiere hacer algo para que la gente lo vea, para la gente, el publico, quien sea. para transmitir un mensaje. No se si hay un nombre para estas cosas, no se si es una disciplina que… la verdad me excede, creo que es eso, sectorizando ponemos mas trabas cuando debería ser un poco mas abierto, la disciplina seria el arte.</p>

                    <p>M.C.: O sea que la disciplina sería el arte, y después son categorías.</p>

                    <p>Y después pueden ser categorías, puede ser cosa de que cada artista quiera especializarse en algo, pero generar una disciplina con respecto a eso… ademas la palabra disciplina ya como que conlleva algunas cosas mas conservadoras o… me parece que eso no suma. Para lo que estamos hablando del arte como un mero, como una expresión de una persona no? Me parece que no debería estar atado a esas cosas.</p>

                    <p class="txt-strong">M.C.: Bueno, esto va relacionado a lo que hablabas antes. De qué modo pensás que debería usar la tecnología un artista? Como una herramienta en sí, o de una forma mas comprometida ideológicamente?</p>

                    <p>L.P.S.: A mi lo que mas me interesa en la búsqueda es utilizar estas herramientas, digamos, es como una mezcla entre esas dos cosas que dijiste. Las herramientas usarlas, pero usarlas con un concepto atrás, y poder discernir entre elegir una cosa o elegir otra. Trabajar con… si eso. O sea, Poder tener esa posibilidad de elección. Y la posibilidad de elección te la da el concepto que vos estés desarrollando. La ideología siempre esta presente en el arte, me parece que el arte es una de las, o es la mejor forma de expresar las cosas que le pasan a una persona y encima genera esto increíble en el otro, en el espectador, en el publico, que es miles de representaciones: uno esta diciendo una cosa, que quizá la otra persona interpreta totalmente lo contrario, y a mi me parece que ahí esta la magia no? que cada uno pueda interpretar lo que quiera sin tener tapujos. Pero del lado del artista me parece que si esta bueno tener un concepto del que hablar para poder, después en base a estas cosas que hablábamos antes del estudio o del tener formación, para poder seleccionar las mejores herramientas que uno piense que es lo correcto, y así llegar a un mensaje mas claro.</p>

                    <p class="txt-strong">M.C.: Bueno, por último, qué marco, en el sentido de qué modo de entender el mundo, crees que proponen las artes que utilizan tecnología?</p>

                    <p>L.P.S.: Sumergidos en el momento en que estamos hoy, digamos, con respecto a la globalización y a todo lo que viene pasando mundialmente, en Argentina siempre estamos unos pasos mas atrás. Bueno, será por una cuestión geográfica de que todo llega con mas delay, hoy en día las comunicaciones están en auge, y pasa que esa brecha cada vez se va acortando mas, me parece que… repetime porque me fui por las ramas…</p>

                    <p>M.C.: Considerando las tecnologías que se utilizan hoy en el arte, que marco o que forma de entender el mundo crees que proponen esas tecnologías.</p>

                    <p>L.P.S.: Y a mi me parece que proponen una visión critica, una visión de darse cuenta que (de ahí venia lo de la globalización) que estamos inmersos en un mundo que esta lleno de tecnología, cada vez mas, y que cada vez estamos mas pendiente de la tecnología digital, de los celulares… me parece que una visión critica con respecto a eso y que no se deje de lado la ideología, y que no dejemos de lado los sentimientos y lo que le pasa a cada uno, eso es un mensaje que estaría bueno, es el mensaje que yo creo que hay que generar, no hay que perder de vista las relaciones entre las personas, entre… donde estamos hoy parados, en una plaza, de respirar, no hay que perder estas cosas. Y me parece que el arte electrónico a través de sus propios conceptos, poder criticar la tecnología desde la tecnología, me parece que es super valido, y que es algo que puede llegar a ser realmente efectivo porque vos en base a esos conceptos te situás ahí y ahí desarrollás. Entonces no estas ajeno a eso, ya desde el génesis de lo que estas haciendo no estas ajeno a eso, entonces no hay que obviarlo y hay que seguir apostando a que la gente si lo hace, o sea, si quiere vivir en un mundo donde la tecnología cada vez prevalece mas, que lo haga a conciencia, generar esa conciencia, y después no dejar de lado las relaciones humanas, que me parece que es una de las cosas que mas se va disminuyendo con el paso del tiempo hoy en día en Argentina, y creo que en todo el mundo.<span class="endMark">⬛</span></p>
                    
                  .col-33.txt-sm.columnaBio.txt-tight.color-texto-claro
                    .boxBio
                      p #[strong LUCAS PÉREZ SCIGLIANO] comenzó la Licenciatura en Artes Electrónicas (Orientación Sonido) - UNTREF en el año 2011, y toca la batería en la banda de rock Puppa (https://puppa.bandcamp.com). Cursó materias de grabación dentro de su orientación, pero también se interesó por materias de la orientación visual y aquellas relacionadas a la programación. Profundizó y expandió el contenido de las materias de modo independiente. Presentó una obra visual interactiva en el festival Enlaces 2014 (https://www.facebook.com/enlaces). A comienzos del año 2016 dejó la carrera y ahora se dedica de lleno a la batería y a su banda.
                    .boxBio
                      img(src="img/Maxi-H-1.jpg", alt="Maximiliano Cortés")
                      p #[strong MAXIMILIANO CORTÉS] es estudiante de la Licenciatura en Artes Electrónicas con orientación en Sonido - UNTREF desde el año 2011. Tiene interés en la música, la programación y la producción audiovisual. Participó en el festival Enlaces (https://www.facebook.com/enlaces) en las ediciones 2014 y 2015 en tareas de producción y montaje y, en la edición 2015, presentando obra junto a un equipo de compañeros. Actualmente, trabaja en el área de producción técnica del Museo de la Inmigración - UNTREF.
        
      
    footer.color-bg-gris.color-texto-inv
      .container
        include _footerSitio.pug
