doctype html
html(lang="es-AR")
  head
    meta(charset="utf-8")
    title Revista Hormiguero
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="")
    meta(name="keywords" value="Artes Electrónicas")
    //- link(rel="canonical" href="")
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/estilos.css")
    //- script(src="js/scripts.js")

  body.color-bg-oscuro
    include _mixins.pug
    //- Estructura de layout y componentes separados; no intercalados sino anidados
    header.color-bg-gris-tr.color-texto-inv.txt-uppercase.fixedNav
      .container
        +widgetHeader(0)
    
    .principal.color-bg-claro
      .row
        .col-100
          img(src="img/portada-revista.jpg", alt="Revista Hormiguero")
      .container
        .row.row-espaciadoVertical
          h1 Ediciones:
          .col-50
            +revista("01- Sobre nuestra práctica",'(A Valeria González)',"2017","/entrevistas-1.html")
          .col-50
            +revista("02- Futuro Antiguo", '(A Juan Pablo Pérez)', "2018","/editorial-2.html")
        
      
    footer.color-bg-gris.color-texto-inv
      .container
        include _footerSitio.pug
