doctype html
html(lang="es-AR")
  head
    meta(charset="utf-8")
    title Revista Hormiguero
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="")
    meta(name="keywords" value="Artes Electrónicas")
    //- link(rel="canonical" href="")
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/estilos.css")
    link(rel="shortcut icon" type="image/png" href="/img/logo-H-100px.png")
    //- script(src="js/scripts.js")

  body.color-bg-oscuro
    include _mixins.pug
    //- Estructura de layout y componentes separados; no intercalados sino anidados
    header.color-bg-gris-tr.color-texto-inv.txt-uppercase.fixedNav
      .container
        +widgetHeader(3)
    
    .principal.color-bg-claro
      .container.espaciadoVertical
        .row
          .col-20
            include _menuLateral1.pug
          .col-80
            .containerContenido
              .contenido
                h1 Notas
                .row
                  .col-50
                    +widgetNota('Un encuentro con Gabriel Rud', 'Por Micaela Paz', '/img/nota-rud.jpg', '/un-encuentro-con-gabriel-rud.html')
                    +widgetNota('Poesía y geometría en busca de la transdisciplinariedad', 'Escrito por Patricia Susana Landau', '/img/nota-landau.jpeg', '/poesia-y-geometria-en-busca-de-la-transdisciplinariedad.html')
                  .col-50
                    +widgetNota('Observar, experimentar y conocerse a uno mismo', 'Escrito por Julieta Feresín', '/img/nota-feresin.jpg', '/observar-experimentar-y-conocerse-a-uno-mismo.html')
                    +widgetNota('La creación y el derecho de autor', 'Escrito por Alberto Gabriel Fernández', '/img/nota-fernandez.jpg', '/la-creacion-y-el-derecho-de-autor.html')
        
      
    footer.color-bg-gris.color-texto-inv
      .container
        include _footerSitio.pug
