doctype html
html(lang="es-AR")
  head
    meta(charset="utf-8")
    title Notas - Revista Hormiguero
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="")
    meta(name="keywords" value="Artes Electrónicas")
    //- link(rel="canonical" href="")
    link(rel="stylesheet" href="css/reset.css")
    link(rel="stylesheet" href="css/estilos.css")
    link(rel="shortcut icon" type="image/png" href="/img/logo-H-100px.png")
    //- script(src="js/scripts.js")

  body.color-bg-oscuro
    include _mixins.pug
    //- Estructura de layout y componentes separados; no intercalados sino anidados
    header.color-bg-gris-tr.color-texto-inv.txt-uppercase.fixedNav
      .container
        +widgetHeader(4)
    
    .principal.color-bg-claro.espaciadoVertical
      .container
        .row
          .col-20
            include _menuLateral2.pug
          .col-80 
            .containerContenido
              .contenido
                .col-50
                  +widgetNota("Pensar a través de los otros", "Citas y preguntas elaboradas a partir de las lecturas realizadas durante el año", "/img/img-nota-libros.jpg", "/pensar-a-traves-de-los-otros.html")
                .col-50
                  +widgetNota("Representación del trabajo", "Referencias extraídas de la charla sobre representación del trabajo del profesor Marcelo Terreni el 2 de Octubre de 2018 en Muntref Tecnópolis.", "/img/img-nota-trabajo.jpg", "/representacion-del-trabajo.html")

    footer.color-bg-gris.color-texto-inv
      .container
        include _footerSitio.pug
